<div>
    <h2>@BlogPost.Data.Title</h2>

    <div class="content px-4">
        @((MarkupString)BlogPost.Data.Text)
    </div>
</div>

@code{
    [Parameter]
    public BlogPost BlogPost { get; set; }
}